/* Portfolio CSS */

.grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-column-gap: 40px;
    grid-row-gap: 50px;
    margin-left: 40px;
    margin-bottom: 50px;
}

.imageLink {
    width: 265px;
    height: 200px;
    border: 1px solid white;
    overflow-y: visible;
    background-image: url("../images/.png");
    background-size: cover;
    margin-left: 5px; 
    box-shadow: 0 2px 2px 0 rgba(59, 7, 7, 0.5);
}
.imageLink:hover{
    border: 1px solid rgb(100, 100, 168);
}

#a {
    background-image: url("../images/.png");
    background-size: cover;
}

#b {
    background-image: url("../images/.png");
    background-size: cover;
}

#c {
    background-image: url("../images/.jpg");
    background-size: cover;
}

#d {
    background-image: url("../images/.jpg");
    background-size: cover;
}

#e {
    background-image: url("../images/trainAgain.png");
    background-size: cover;
}

#f {
    background-image: url("../images/.png");
    background-size: cover;
}
#g {
    background-image: url("../images/.png");
    background-size: cover;
}
#h {
    background-image: url("../images/.png");
    background-size: cover;
}
#j {
    background-image: url("../images/sql-homework.png");
    background-size: cover;
}
#k {
    background-image: url("../images/.png");
    background-size: cover;
}
#l {
    background-image: url("../images/.png");
    background-size: cover;
}

#m{
    background-image: url("../images/.png");
    background-size: cover;
}
#n{
background-image: url("../images/.png");
background-size: cover;
}
#o {
    background-image: url("../images/.png");
    background-size: cover;
}
#p {
    background-image: url("../images/.png");
    background-size: cover;
}

/* Image Banners */
.banner {
    border-radius: 50%;
    background-color: rgb(7, 105, 196);
    width: 266px;
    height: 66px;
    
    text-align: center;
    color: rgb(223, 168, 168);
    font-size: 22px;
    position: relative;
    top: 99px;
    padding: 13px 0;
    letter-spacing: 3px;
    font-weight: 400;
}

.blink {
    border-radius: 50%;
    display: block;
    text-decoration: none; /* No underlines on the link */
    z-index: 10; /* Places the link above everything else in the div */
    filter: alpha(opacity=1); /* Fix to make div clickable in IE */
}

@media screen and (max-width:980px) {

    .grid {
        grid-template-columns: 1fr;
        grid-auto-rows: auto;
        grid-column-gap: 0;
    }
    
    .imageLink 
    .banner{
        background-repeat: no-repeat;
        background-position: 50%;
        border-radius: 50%;
        width: 100px;
        height: 100px;
        border-radius: 50%;
        margin: 0 auto;
        border-radius: 50%;
    }
    
    input[type=text] {
        width: 90%;
    }
    
    textarea {
        width: 90%;
    }
}
@keyframes blink {
    50% {
      opacity: 0.0;
    }
  }
  @-webkit-keyframes blink {
    50% {
      opacity: 0.0;
    }
  }
  .blink {
    animation: blink 2s step-start 0s infinite;
    -webkit-animation: blink 1s step-start 0s infinite;
  }
  @keyframes blink {  
    0% { color: red; }
    100% { color: rgba(0, 0, 0, 0.849); }
  }
  @-webkit-keyframes blink {
    0% { color: red; }
    100% { color: black; }
  }
  .blink {
    -webkit-animation: blink 1s linear infinite;
    -moz-animation: blink 1s linear infinite;
    animation: blink 1s linear infinite;
  } 